<form class="form-responsive">
    <div class="form-group">
        <label for="customerPhone" class="control-label">Customer phone</label>
        <input id="customerPhone" type="number" class="form-control" value="" placeholder="Customer phone (e.g. 888888)" required>
    </div>
    <div class="form-group">
        <label for="bottleName" class="control-label">Bottle name</label>
        <input id="bottleName" type="text" class="form-control" value="" placeholder="Bottle name (e.g. Fabio Cannavaro 1958)" required>
    </div>
    <div class="form-group">
        <label for="bottleAmount" class="control-label">Bottle amounts</label>
        <input id="bottleAmount" type="text" class="form-control" value="" placeholder="Bottle amounts (e.g. 69)" required>
    </div>
    <div class="form-group">
        <label for="expirationDate" class="control-label">Expiration date</label>
        <input id="expirationDate" type="date" class="form-control" value="" required>
    </div>
    <br/>    
    <button id="submitBottleParking" type="button" class="btn btn-success">Submit</button>
    <button type="reset" class="btn btn-primary">Reset form</button>
</form>